@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

:root {
    --primary-color: #3e5b43;
    --secondary-color: #5c423d;
    --accent1-color: #c3eeaa;
    --accent2-color: #f1b26a;

    --heading-font: "Oswald", sans-serif;
    --paragraph-font: "Roboto Serif", serif;

    /* referencing variables to maintain css readability for anchor tag rules */
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--accent1-color);
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-background-color: var(--accent2-color);
}

body {
    max-width: 1200px;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--accent1-color);
    margin-bottom: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

header > img {
    grid-column: 2/3;
}

header > nav {
    grid-column: 3/5;
    display: flex;
    justify-content: space-evenly;
}

header > nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

header > nav a:link, header > nav a:visited {
    color: var(--nav-link-color);
}

header > nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.grid-home {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "hero hero"
    "news-form prompt"
    "services services";
}
.grid-trips {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 5fr 4fr;
    grid-template-areas:
    "prompt trip-table"
    "collage collage";
    justify-items: center;
}

figure {

}

.flex-history {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex-history p {
    text-align: center;
}


.grid-adventure {
    display: grid;
    grid-template-areas:
    "header header header header header"
    "raft1 raft2 raft3 raft4 raft5";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    align-items: center;
}
.grid-adventure h2 {
    grid-area: header;
    text-align: center;
}
.grid-adventure img {
    width: 100%;
    min-width: 100px;
    height: 100px;
}

/* selectors for each image in the gallery */
.grid-adventure figure:nth-of-type(1) {
    grid-area: raft1;
}
.grid-adventure figure:nth-of-type(2) {
    grid-area: raft2;
}
.grid-adventure figure:nth-of-type(3) {
    grid-area: raft3;
}
.grid-adventure figure:nth-of-type(4) {
    grid-area: raft4;
}
.grid-adventure figure:nth-of-type(5) {
    grid-area: raft5;
}

figcaption {
    background-color: rgba(0, 0, 0, .6);
    color: white;
    text-align: center;
}

footer {
    display: grid;
    min-height: 100px;
    grid-template-columns: 75% 1fr;
    background-color: var(--accent1-color);
    padding: 10px;
    align-items: center;
}

footer p {
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
}
footer a {
    grid-column: 1/2;
    grid-row: 1/2;
}
.sociallinks {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
}

.sociallinks img {
    width: 50px;
    margin-right: 5px;
}

.sociallinks a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

.hero h1 {
    color: var(--accent1-color);
}

.hero p {
    color: aliceblue;
}

.hero {
    position: relative;
    grid-area: hero;
}

.home-img {
    max-height: 300px;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 300px;
}

.hero h1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    top: 10px;
    left: 0;
    right: 0;
}

.hero article {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    top: 100px;
    margin: 0 200px;
    padding: 20px;
    max-height: 400px;
}

article img {
    width: 200px;
    float: right;
    margin-left: 10px;
}

section {
    margin: 10px 0;
}


.flex-info {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.information > h1 {
    text-align: center;
}
.flex-info iframe {
    width: 500px;
    height: 300px;
}
.flex-info div {
    /* make size uniform to allow for vertical alignment */
    min-height: 150px;
    align-self: center;
}


.staff {
    display: grid;
    grid-template-areas:
    "header header header"
    "emp1 emp2 emp3";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    align-items: center;
}
.staff h1 {
    grid-area: header;
    text-align: center;
}
.staff img {
    width: 100%;
    min-width: 100px;
    height: 200px;
    grid-area: image;
}
.staff figcaption {
    width: 100%;
}
.staff figure:nth-of-type(1) {
    grid-area: emp1;
}
.staff figure:nth-of-type(2) {
    grid-area: emp2;
}
.staff figure:nth-of-type(3) {
    grid-area: emp3;
}


form {
    width: 650px;
    margin: 10px 0;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    font-size: 18px;
}

.flex-form {
    display: flex;
    justify-content: center;
    grid-area: news-form;
}

.home {
    max-width: 560px;
    justify-self: center;
}
.home button {
    font-size: 28px;
}

.prompt {
    position: relative;
    max-width: 600px;
    font-size: 32px;
    text-align: center;
    margin-top: 15px;
    grid-area: prompt;
}
.prompt h1 {
    color: var(--accent1-color);
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    top: 10px;
    left: 0;
    right: 0;
    max-width: 600px;
}
.prompt img {
    max-width: 600px;
}

.grid-services {
    display: grid;
    grid-area: services;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.grid-services div {
    background-color: #ddd;
    border: 5px solid var(--accent2-color);
    border-radius: 15px;
    padding: 0 15px 15px;
}
.grid-services h2 {
    text-align: center;
}
.grid-services img {
    width: 500px;
    height: 300px;
}


fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 1.5rem;
}

input, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--secondary-color);
}

table {
    border: 5px solid var(--accent2-color);
    border-radius: 15px;
    background-color: rgb(173, 123, 47);
    text-align: center;
    text-wrap: nowrap;
    grid-area: trip-table;
}
thead th {
    background-color: var(--accent2-color);
    padding: 10px 5px;
}
th,
td {
    border: 2px solid rgb(173, 123, 47);
    border-radius: 10px;
    padding: 0 10px;
    background-color: #ccc;
}
tbody > tr:nth-of-type(even) > th,
tbody > tr:nth-of-type(even) > td {
    background-color: #eee;
}

article {
    width: 500px;
    background-color: #ccc;
    padding: 100px 20px;
    margin-left: 10px;
    font-size: 18px;
    text-align: center;
}

.flex-collage {
    grid-area: collage;
    justify-content: center;
    align-items: center;
}
.flex-collage div {
    display: flex;
    align-items: center;
}
.flex-collage img {
    margin: 20px 0;
    box-shadow: 10px 20px 10px 0px var(--accent2-color);
}